*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:linear-gradient(135deg,#5B86E5,#36D1DC);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;
}

/* กล่องหลัก */

.container{

    width:700px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    border-radius:25px;

    padding:40px;

    color:white;

    box-shadow:0 10px 25px rgba(0,0,0,.2);

    animation:fade .8s;

}

/* หัวข้อ */

h1{

    text-align:center;

    margin-bottom:30px;

    font-size:34px;

}

/* กล่องข้อมูล */

.card{

    display:grid;

    gap:18px;

}

/* รายการข้อมูล */

.info{

    background:rgba(255,255,255,.15);

    padding:18px 20px;

    border-radius:15px;

    transition:.3s;

}

.info:hover{

    transform:translateX(10px);

    background:rgba(255,255,255,.25);

}

.info span{

    font-weight:bold;

    font-size:18px;

}

.info p{

    margin-top:8px;

    font-size:17px;

}

/* ปุ่ม */

.btn{

    display:block;

    margin:35px auto 0;

    width:220px;

    text-align:center;

    text-decoration:none;

    color:white;

    background:#3F51B5;

    padding:15px;

    border-radius:50px;

    transition:.3s;

}

.btn:hover{

    background:white;

    color:#3F51B5;

    transform:scale(1.05);

}

/* Animation */

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/* Responsive */

@media(max-width:768px){

.container{

width:100%;

padding:25px;

}

h1{

font-size:28px;

}

.info span{

font-size:17px;

}

.info p{

font-size:16px;

}

}
